<%= form_with(model: post, local: true) do |f| %>
<!-- Gives errors in case the post fails to save. -->
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

<!-- Gives error messages. -->
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Creates title, description, and image fields. The image uploader is provided through CarrierWave,
which leaves the files in separate posts, allowing for safe image uploading. Submits a new or existing post to the posts page.-->
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
