<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="row">
  <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="art-border">
          <%= image_tag post.image.url, class: "art-index" if post.image? %>
          <ul>
            <li> <%= post.title %> </li>
            <li> by: <%= post.user.email %> </li>
            <li> <%= post.description %> </li>
          <%= link_to 'Show', post %>
          <% if user_signed_in? && current_user.id == post.user_id %> |
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </ul>
        </div>
    </div>
    <% end %>
</div>
<br>

<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
