<!DOCTYPE html>
<html>
  <head>
    <title>PaintBlock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-expand-sm navbar-inverse">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">PaintBlock</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">Browse</a></li>
            <% if user_signed_in? %>
            <li><a href="#">Profile</a></li>
            <li><a href="contact">Contact Us</a></li>
            <% end %>
          </ul>
        </div>

        <div>
          <ul class="nav navbar-nav" style="float: right">
            <% if !user_signed_in? %>
            <li><a class="navbar-item" href="users/sign_in">Login</a></li>
            <% end %>

            <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
</nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
