<!--Sends the email to the user, although only in the console. It uses the information parsed from the contact mailer.-->
<p>
    <%= "Dear #{t('app_title')}," %>
</p>
  <%= "Could you get in touch with me please?" %>
<dl>
    <dt>Name:</dt>
    <dd>
      <%= @name %>
    </dd>
    <dt>Email:</dt>
    <dd>
      <%= @email %>
    </dd>
    <dt>Telephone:</dt>
    <dd>
      <%= @telephone %>
    </dd>
    <p>
      <%= @message %>
    </p>
    <p>
      <%= @name %>
    </p>
</dl>
