<h1> <%= t('.contitle') %></h1>
<p> <%= t('.concomp') %></p>
<%= form_for :report do |f| %>
            <p>
                        <%= f.label :username, "Username or email" %><br>
                        <%= f.text_field :username %>
            </p>
            <p>
                        <%= f.label :description %><br>
                        <%= f.text_area :description %>
            </p>
            <p>
                        <%= f.submit "Send" %>
            </p>
<% end %>
