<!--Creating contact title and description.-->
<h1> <%= t('.contitle') %></h1>
<p> <%= t('.concomp') %></p>

<!--Creates a form, though which the user is sent an email upon submitting the correct files.-->
<%= form_tag request_contact_path, method: 'post' do %>
  <%= label_tag :name, t('.name') %>
  <%= text_field_tag :name, '', title: t('.enter_name'), size: 50 %>
  <br>
  <%= label_tag :email, t('.email') %>
  <%= email_field_tag :email, '', title: t('.enter_email') %>
  <br>
  <%= label_tag :telephone, t('.telephone') %>
  <%= telephone_field_tag :telephone, '', title: t('.enter_telephone') %>
  <br>
  <%= label_tag :message, t('.message') %>
  <%= text_field_tag :message, '', title: t('.enter_message'), size: 100 %>
  <br>
  <%= submit_tag t('.submit') %>
<% end %>
